// colors please use this crazy colors
.mainBackgroundColor {
  background-color: #5fc7d1;
}

.mainBackgroundColorYellow {
  background-color: #eac544;
}

.mainBackgroundColorRed {
  background-color: #e03333;
}

.mainBackgroundColorBlack {
  background-color: #141839;
}
.mainColorText {
  @apply text-[#5FC7D1];
}

.main-color-black {
  @apply text-[#141839];
}

.green-color {
  @apply text-[#34B968];
}

.blue-color {
  @apply text-[#5897fb];
}   

.warn-color {
  @apply text-[#E54D43];
}

.mainBorderColor {
  @apply border-[#5FC7D1];
}

.borderBox {
  @apply border-[#F2F5FA];
}
$base-color: #5fc7d1;
$base-color-black: #141839;
// colors end

.wrapper {
  @apply px-[30px];
}

// common classes
.sectionTitle {
  @apply text-2xl font-[600] text-[#141839];
}

.basicTab {
  @apply inline-flex items-center space-x-[24px];
}
.basicTab {
  li {
    padding: 10px 5px;
    &.active {
      color: $base-color;
      font-weight: 600;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $base-color;
        position: absolute;
        left: 0;
        bottom: -12px;
      }
    }
    cursor: pointer;
  }
}

.basicBtn {
  @apply py-[15px] px-[24px] rounded-[12px] inline-flex;
}

.scroll-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 1px; /* Firefox */
  &::-webkit-scrollbar {
      display: none;
  }
//   &::-webkit-scrollbar {
//     width: 12px;
//     height: 2px;
//     // margin-right: 2px;
//   }
//   &::-webkit-scrollbar-thumb {
//     background: linear-gradient(60deg, #5fc7d133 43%, #5fc7d133 49%);
//     border-radius: 4px;
//   }
//   &::-webkit-scrollbar-thumb:hover {
//     background: linear-gradient(13deg, $base-color 14%, $base-color 4%);
//   }
}
